@model MVC5Test.ViewModel.StudentViewModel


@using (Html.BeginForm("Add", "Student", FormMethod.Post))
{


    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.Student.Name, new { @class = "" })
                @Html.TextBoxFor(m => m.Student.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Student.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.Student.Email, new { @class = "" })
                @Html.TextBoxFor(m => m.Student.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Student.Email)

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.Student.Age, new { @class = "" })
                @Html.TextBoxFor(m => m.Student.Age, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Student.Age)

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.Student.MobileNo, new { @class = "" })
                @Html.TextBoxFor(m => m.Student.MobileNo, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Student.MobileNo)

            </div>
        </div>
        <br />
        <input type="submit" value="submit" class="btn btn-primary" />

    </div>
}







